<%= content_for(:title,"Create Player") %>
<h1>Create a New Player</h1>

<%= render partial: "players/form"%>
<%#= form_for(@player) do |p| %>
<!--  <p>-->
    <%#= p.label :first_name %>
    <%#= p.text_field :first_name %>
<!--  </p>-->
<!--  <p>-->
    <%#= p.label :last_name %>
    <%#= p.text_field :last_name %>
<!--  </p>-->
  <%#= p.submit %>
  <%# end %>
<!--<form action="\players" method="post">-->
<!--<input type="hidden" name="authenticity_token" value="<%#= form_authenticity_token %>">-->
<!--  <p>-->
<!--    <label><b>First Name</b></label>-->
<!--    <input type="text" name="player[first_name]">-->

<!--  </p>-->
<!--  <p>-->
<!--    <label><b>Last Name</b></label>-->
<!--    <input type="text" name="player[last_name]">-->

<!--  </p>-->
<!--  <input type="submit" value="Create">-->
<!--</form>-->
